@import url('https://fonts.googleapis.com/css?family=Forum');
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css');

p{
    font-family: 'Forum', cursive;
}
.smaller-image{
    width:40px;
}

footer{
    background-color:gray;
    color:#FFB7EB;
}