/*fonts*/
@import url('https://fonts.googleapis.com/css?family=Forum');
@import url('https://fonts.googleapis.com/css?family=Cinzel:400,700,900');
/*bootstrap*/
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css');


footer{
    background-color:gray;
    color:#B7EBC7;
}
.wrapper{
    background-color:#B7EBC7;
}
p{
    font-family: 'Forum', cursive;
}
.smaller-image{
    width:40px;
}
a, h1, h2, h3, h4, h5, h6 {
    font-family: 'Forum', cursive;
}

